#video-player {
    padding: 2vw;
    width: 55vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* Example: Change the color of the play button */
.plyr__control.plyr__control--overlaid {
    background-color: #ff0000; /* Your custom color */
  }
  
  /* Example: Adjust the progress bar color */
.plyr__progress.plyr__progress--played {
   color: #9caeff; /* Your custom accent color */
}
  